.home-panels {
  max-width:1200px;
  height: 500px;
  margin:0 auto;
}

ul {
  display: flex;
  flex-direction:row-reverse;
  list-style-type: none;
}

li {
    overflow: hidden;
    position: relative;
    flex: 0 1 auto;
    width:3em;  

}
li:hover,
li:focus {
    transition: width 1s ease-out;
    border-left: 1px solid gray;
    width:100%;
}

h2 {
  left: 0;
  right:0;
  top: 0;
}

.home-panel-title {
  font-size: 1.6em;
  line-height:0.5em;
  color:white;
  font-weight:100;
  -ms-writing-mode: vertical-rl; /* ancien IE */
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode:vertical-rl;
  bottom:5%;
  background-color:transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  position:absolute;
  z-index:10;
}

[class^="chom-bandeau"]

{
  position:absolute;
  z-index:8;
  width:3em;
  height:500px;
}

.chom-bandeau-1 {background-color: rgba(102,22,0,0.3);}
.chom-bandeau-2 {background-color: rgba(0,0,0,0.3);}
.chom-bandeau-3 {background-color: rgba(0,200,0,0.3);}
.chom-bandeau-4 {background-color: rgba(0,0,100,0.3);}
.chom-bandeau-5 {background-color: rgba(120,0,10,0.3);}

img { display: block;}

.home-panel-content {
  width:200px;
  background-color:pink;
  color:red;
  position:absolute;
  z-index:1000;
  bottom:100px;
  left:100px;
}